<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/spider/logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache">
  <title>SPIDER</title>
  <script type="module" crossorigin src="/spider/assets/index.cd553a42.js"></script>
  <link rel="stylesheet" href="/spider/assets/index.630b2182.css">
</head>

<body>
  <div id="root"></div>
  
</body>

</html>